
___

<a href='https://www.darshan.ac.in/'> <img src='https://gtu.darshan.ac.in/Upload/Logo/DIET_Logo.svg' /></a>
___
<pre>
<center><b>Python for Data Science - 3150713</b></center>
<center><b>Lab - 5</b></center>    
<pre>

# 1)	Scrape the data of Faculty and news data from darshan university website.

In [ ]:
import requests
import bs4

data = requests.get("https://darshan.ac.in/engineering/computer/faculty")
# print(data.text)

soap = bs4.BeautifulSoup(data.text,'lxml')
allfaculty = soap.select("body > main > div:nth-child(5) > div > div > div.col-lg-8.col-xl-9.g-font-size-14 > div > div")
# print(allfaculty)
for f in allfaculty:
    name = f.select("h2")[0].text.strip()
    position = f.select("span")[0].text.strip()

    print(name,"--",position)

# 2) Scrape the data of student placement from darshan university website.

In [ ]:
import requests
import bs4

data = requests.get("https://darshan.ac.in/placement/list/engineering/computer/2023")
# print(data.text)

soap = bs4.BeautifulSoup(data.text,'lxml')
allfaculty = soap.select("body > main > div:nth-child(5) > div > div > div.col-lg-8.col-xl-9.g-font-size-14.g-mb-30 > div.g-pt-20 > div.row.g-px-4.g-px-5--sm.g-px-5--md >div")
# print(allfaculty)
for f in allfaculty:
    name = f.select("h2")[0].text.strip()
    city = f.select("p")[4].text.strip()

    print(name,"--",city)

# Write a python program to perform database operations on database using mysql and sqlite3.
1)	 Display Student table from database.<br>
2)	Insert new recode into student table by user.

In [ ]:
import sqlite3
connection = sqlite3.connect("abc.db")
crsr = connection.cursor()
print("Connected to the database")
#connection.close()

#create student table
sql_command = """CREATE TABLE Student_table (
roll_no INTEGER PRIMARY KEY,
fname VARCHAR(50),
lname VARCHAR(50),
cpi FLOAT,
city VARCHAR(20));"""
crsr.execute(sql_command)
#connection.close()

sql_command = """INSERT INTO Student_table VALUES 
(1, "abc", "xyz", 9.2, "Rajkot");"""
crsr.execute(sql_command)
sql_command = """INSERT INTO Student_table VALUES 
(2, "def", "pqr", 8.9, "Rajkot");"""
crsr.execute(sql_command)
sql_command = """INSERT INTO Student_table VALUES 
(3, "ghi", "stu", 7, "Jamnagar");"""
crsr.execute(sql_command)
sql_command = """INSERT INTO Student_table VALUES 
(4, "jkl", "sqr", 9.21, "Jamnagar");"""
crsr.execute(sql_command)
sql_command = """INSERT INTO Student_table VALUES 
(5, "mno", "mno", 8.66, "Morbi");"""
crsr.execute(sql_command)
connection.commit()
#connection.close()

crsr.execute("SELECT * FROM Student_table;")
ans = crsr.fetchall()
for i in ans:
  print(i)



rno = input("Enter roll number : ")
f_nm = input("Enter first name : ")
l_nm = input("Enter last name : ")
cpi = input("Enter CPI : ")
ct = input("Enter city : ")
 
crsr.execute("""
INSERT INTO Student_table(roll_no, fname, lname, cpi, city)
VALUES (?,?,?,?,?)
""", (rno, f_nm, l_nm, cpi, ct))

connection.commit()
#connection.close()


crsr.execute("SELECT * FROM Student_table;")
ans = crsr.fetchall()
for i in ans:
  print(i)